/* needs rofi-emoji package*/
configuration {
  modes: "combi";
  combi-modes: "window,drun,emoji";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "Paper"